*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 300px;
    height: 150px;
    display: block;
    margin-top: 50px;
    margin-bottom: 70px;
    margin-right: 60px;
    margin-left: 30px;
    margin: 10px 20px 30px 40px;
    margin: 25px 15px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;

    padding: 30px;

    border: solid 3px brown;
}
.color{
    background-color: steelblue;
}

section.seccionA{
    margin-bottom: 150px;
    background-color: blue;
    border: solid 3px;
  }

section.seccionB{
    margin-top: 160px;
    background-color: aqua;
    border: solid 3px red;
  }